div.aaa{
    margin:auto;
    width: 920px;
    
    
   }
   mark{
       background-color:#f0e6d6;
       
   }
   table.purple {
    margin-left: 30px;
    margin-top: 35; 
    margin-right: 100px;
    width: 920px;
    height: 65px;
    padding: 15px 36px 15px 36px;
    background-color: #eadcea;
    margin: 30px 20px 10px 0px;
    vertical-align: auto;
    border-left:5px solid #b496b4; 

   }
table.zh{
    background-color: #f0e6d6;
    width: 920px;
    height: 70px;
    font-size: 115%; 
}
div.eee{
    margin-top: 30px;
    display: inline;
}
table.end{
    
    padding: 10px; /* Поля вокруг текста */
    width: 920px;
    height: 150px;
    border: 1px solid;
    border-collapse: collapse;
}

td.end2{
    border: 1px solid #b496b4;
    text-align: center;
    background-color: #eadcea;
}
td.end3{
    border: 1px solid;
    padding-left: 10px;
    border: 1px solid #b496b4;
}

ul.p{
    margin-left: 0%;
}
div.t{
    margin-top: 60px;
    display: inline;
}
td.a1{
    background-color: black;
} 

body {
    margin: 0px;
}
